automation.json
{
  "name": "Ad Automation Publisher",
  "id": "1",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 15,
              "unit": "minutes"
            }
          ]
        }
      },
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://your-backend.com/api/ads/active-campaigns",
        "responseFormat": "json",
        "options": {}
      },
      "name": "Get Active Campaigns",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1
      },
      "name": "Split Campaigns",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"channel\"]}}",
              "operation": "equal",
              "value2": "facebook"
            }
          ]
        }
      },
      "name": "If Channel is Facebook",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        950,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dummyjson.com/posts/add",
        "responseFormat": "json",
        "jsonParameters": true,
        "bodyParametersJson": "={\n  \"campaign_id\": $json[\"id\"],\n  \"media_url\": $json[\"media_url\"],\n  \"caption\": $json[\"caption\"],\n  \"channel\": $json[\"channel\"]\n}"
      },
      "name": "Publish to Dummy Facebook API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1200,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-backend.com/api/ads/report",
        "responseFormat": "json",
        "jsonParameters": true,
        "bodyParametersJson": "={\n  \"campaign_id\": $json[\"id\"],\n  \"status\": \"success\",\n  \"channel\": $json[\"channel\"],\n  \"message\": \"Posted successfully\"\n}"
      },
      "name": "Send Report to Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1450,
        200
      ]
    }
  ],
  "connections": {
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "Get Active Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Campaigns": {
      "main": [
        [
          {
            "node": "Split Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Campaigns": {
      "main": [
        [
          {
            "node": "If Channel is Facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Channel is Facebook": {
      "main": [
        [
          {
            "node": "Publish to Dummy Facebook API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish to Dummy Facebook API": {
      "main": [
        [
          {
            "node": "Send Report to Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "staticData": {}
}
